<!doctype html>
<title>Run Planning Authentication</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
	<div class=metanav>

		<p>
			<a href="https://www.strava.com/oauth/authorize?client_id=12011&response_type=code&redirect_uri=https://strava-test.herokuapp.com/&scope=view_private&state=mystate&approval_prompt=forc" target="_blank"><img src="images/ConnectWithStrava.png" style="border:none;max-width:100%;" alt="Connect with Strava!">
			</a>

		</p>

	</div>
</div>
</html>